*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.Home {
    background-image: url(Espacio.gif);
    background-size: cover; 
        background-position: center; 
}

.Index {
    height: 100vh;
        margin: 0;
        padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

header button {
    width: 12rem;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    background-color: blueviolet;
    color: aliceblue;
    font-weight: bold;
    transition: 0.33s;
    transform: scale(1.05);
}

button{
    margin: 30px;
    padding: 30px;
    border-radius: 12px;
}

.Botones-Index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    text-align: center;
}

.Botones-Index button:hover{
    cursor: pointer;
    color: blueviolet;
    background-color: aliceblue;
    transform: scale(1.15) rotate(5deg);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    animation: animate-title 3s infinite alternate;
    font-family:'Times New Roman', Times, serif
}

/* PAGINA WEB INFORMACIÓN */

.Info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom, #acacac, #727272); 
}
.h1-Info {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   align-items: center;
    font-size: 3rem;
    animation: none;
    margin: 2rem;
    color: rgb(0, 0, 0);
}

.foto-personajes {
    margin-top: 3rem;
}

p{
    margin: 2rem;
}
hr {
    border: none;
    height: 0; 
    background: transparent; 
    margin: 0; 
}

.Pantalla { 
    color: rgb(7, 102, 16);
    background: linear-gradient(to bottom, #37e918, #0d8725); 
    margin: 2rem;
    padding: 1rem; 
    
    border: 20px solid gray; 
    border-radius: 15px; 
    box-shadow: -10px 6px 12px rgba(0, 0, 0, 0.659);
}

.Botones-Consola {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
}


.Botones-Consola button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    background-color: rgb(198, 0, 0); 
    color: rgb(0, 0, 0);  
    font-size: 30px; 
    font-weight: bold; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1rem;
    margin-right: 5rem;
    box-shadow: -10px 6px 12px rgba(0, 0, 0, 0.659);
}

.Boton-A button:hover, .Boton-B button:hover {
    background-color: darkred; 
    transform: scale(1.1); 
    color: antiquewhite;
}

.imagen-consola {
    display: flex;
    align-items: center; 
    position: relative;
}

.plus-symbol {
    font-size: 350px; /* Tamaño del símbolo */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Fuente */
    color: #000000; /* Color */
    margin-left: 6rem;
    margin-right: 7rem;
}
  

.Options-Symbol{
    justify-content: flex-end;
    width: 130px; 
    height: 25px; 
    border-radius: 40%; 
    background-color: rgb(68, 68, 68);  
    box-shadow: -10px 6px 12px rgba(0, 0, 0, 0.659);
    margin-left: 2rem;
    transform: rotate(-25deg);
}


.Boton-Volver{
    background-color: rgb(56, 56, 56); 
    color: rgb(255, 255, 255);  
    font-size: 30px; 
    font-weight: bold; 
    cursor: pointer;
    box-shadow: -10px 6px 12px rgba(0, 0, 0, 0.659);
}





/* animations */

@keyframes animate-title {

    0% {
        color: rgb(88, 245, 254);
    }
    
    100% {
        transform: scale(1.05);
        color: rgb(195, 255, 253);
    }
}


/* MEDIA-QUERY */

@media screen AND (Max-width:796px) {
  h1{
    font-size: 2rem;
    text-align: center;
  }

  nav .menu-flex {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
  

  .Options-Symbol{
    display: none;
  }
  
    
    
    
  

}
    
