*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.Home {
    background-image: url(Espacio.gif);
    background-size: cover; 
        background-position: center; 
}

header {
    height: 100vh;
        margin: 0;
        padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

header button {
    width: 14rem;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    background-color: blueviolet;
    color: aliceblue;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.33s;
    transform: scale(1.05);
}

button{
    margin: 30px;
    padding: 30px;
    border-radius: 12px;
}

a{
    text-decoration: none;
}

header button:hover{
    cursor: pointer;
    color: blueviolet;
    background-color: aliceblue;
    transform: scale(1.15) rotate(5deg);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    animation: animate-title 3s infinite alternate;
    font-family:'Times New Roman', Times, serif
}

.Info{
    background-color: rgb(13, 105, 131);
    color: rgb(234, 109, 19);
}
.h1-Info {
    display: flex;
    position: absolute;
    top: 10px; 
    left: 10px; 
    font-size: 3rem;
    animation: none;
}

.foto-perfil {
    display: flex;
    justify-content: left;
    align-items: left;
    width: 200px;
    height: 200px;
    border-radius: 15%;
    margin-bottom: 20px;
}

/* animations */
@keyframes animate-title {

    0% {
        color: rgb(88, 245, 254);
    }
    
    100% {
        transform: scale(1.05);
        color: rgb(195, 255, 253);
    }
}


/* MEDIA-QUERY */

@media screen AND (Max-width:512px) {
  h1{
    font-size: 2rem;
    text-align: center;
  }

  nav .menu-flex {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}
    
